<!-- TÍTULO DE SECCIÓN -->
<div class="sidebar-section-title">Explorador</div>

<!-- RAÍZ DEL PROYECTO -->
@if (hasProject) {
  <div class="sidebar-root" (click)="toggleRoot()">
    <span class="root-arrow" [class.open]="rootOpen">▶</span>
    <span class="root-name">{{ rootName }}</span>
  </div>
} @else {
  <div class="no-project">
    <span class="no-project-icon">⊞</span>
    <span>Sin proyecto abierto</span>
    <button class="btn-load" (click)="loadProject()">Cargar proyecto</button>
  </div>
}

<!-- ÁRBOL DE ARCHIVOS -->
@if (rootOpen && hasProject) {
  <div class="file-tree">
    <ng-container *ngTemplateOutlet="recursive; context:{ $implicit: tree }"></ng-container>
  </div>
}

<!-- template recursivo -->
<ng-template #recursive let-nodes>
  @for (node of nodes; track node.path) {

    <div class="tree-item"
         [class.is-folder]="node.type === 'folder'"
         [style.padding-left.px]="12 + node.depth * 14"
         draggable="true"
         (dragstart)="onDragStart(node)"
         (dragover)="onDragOver($event)"
         (drop)="onDrop(node)">

      <span class="item-icon" (click)="toggle(node)">{{ getIcon(node) }}</span>
      <span class="item-name" (click)="toggle(node)">{{ node.name }}</span>

      <span class="item-actions">
        @if (node.type === 'folder') {
          <button (click)="createFile(node, $event)" title="Nuevo archivo">+</button>
          <button (click)="createFolder(node, $event)" title="Nueva carpeta">⊞</button>
        }
        <button class="del" (click)="delete(node, $event)" title="Eliminar">✕</button>
      </span>

    </div>

    @if (node.type === 'folder' && node.isOpen) {
      <ng-container *ngTemplateOutlet="recursive; context:{ $implicit: node.children }"></ng-container>
    }

  }
</ng-template>
