.base {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
}

.boton-base {
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.boton-1 {
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 50px;
    background-color: 0;
    border: 0px;
}

.boton-2 {
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 100px;
    background-color: 0;
    border: 0px;
}

.boton-3 {
    margin: 0px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 150px;
    background-color: 0;
    border: 0px;
}

.card-base {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: lightgray;
    border-radius: 10px;
}

.card-1 {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: lightgray;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    border: 2 solid [object object];
}

.card-2 {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: lightgray;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    border: 2 solid [object object];
}

.card-3 {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: lightgray;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    border: 2 solid [object object];
}

.card-4 {
    margin: 0px;
    padding: 15px;
    font-family: sans-serif;
    background-color: lightgray;
    border-radius: 10px;
    width: 400px;
    height: 240px;
    border: 2 solid [object object];
}

.alerta-base {
    padding: 10px;
    border-left: 5px solid red;
}

.alerta-success {
    padding: 10px;
    border-left: 5px solid red;
    color: green;
}

.alerta-error {
    padding: 10px;
    border-left: 5px solid red;
    color: red;
}

.col-1 {
    width: 10px;
    padding: 5px;
}

.col-2 {
    width: 10px;
    padding: 5px;
}

.col-3 {
    width: 10px;
    padding: 5px;
}

.col-4 {
    width: 10px;
    padding: 5px;
}

.col-5 {
    width: 10px;
    padding: 5px;
}

.texto-1 {
    font-size: 14px;
    margin-bottom: 2px;
}

.texto-2 {
    font-size: 18px;
    margin-bottom: 4px;
}

.texto-3 {
    font-size: 22px;
    margin-bottom: 6px;
}

.texto-4 {
    font-size: 26px;
    margin-bottom: 8px;
}

